h1 {
    color: purple;
}

body {
    width: 50%;
    margin: auto;
}
/* for phones */

@media (orientation: portrait ) {
    body {
        width: 100%;
        font-size: 2em;
    }
}

p#intro[
    font-size: 2em;
]

#byline{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    font-size: 1.5em
}

div {
    border: solid 1px
    gray;
}